aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
altair==5.5.0
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.8.0
asgiref==3.8.1
asttokens==3.0.0
attrs==25.1.0
audioop-lts==0.2.1
beautifulsoup4==4.13.3
blinker==1.9.0
blis==1.3.0
Brotli==1.1.0
browser-cookie3==0.20.1
cachetools==5.5.2
cadquery @ git+https://github.com/CadQuery/cadquery.git@b94a06799ab36d62f9faa20021ddba3d1d4a2ecb
cadquery-ocp==7.8.1.1.post1
cadquery_vtk==9.3.1
casadi==3.7.0
catalogue==2.0.10
cement==3.0.4
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.1
click==8.1.8
cloudpathlib==0.21.1
cloudscraper==1.2.71
colorama==0.4.6
colorlog==6.9.0
comtypes==1.4.9
confection==0.1.5
contourpy==1.3.2
curl_cffi==0.15.0
cycler==0.12.1
cymem==2.0.11
decorator==5.2.1
distlib==0.3.9
distro==1.9.0
dj-database-url==3.0.1
Django==4.2.23
django-cors-headers==4.7.0
djangorestframework==3.16.0
docopt==0.6.2
docutils==0.21.2
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
executing==2.2.0
ezdxf==1.4.2
fastapi==0.116.1
filelock==3.17.0
Flask==3.1.0
flask-cors==6.0.1
fonttools==4.57.0
frozenlist==1.5.0
fsspec==2025.2.0
gitdb==4.0.12
GitPython==3.1.45
glcontext==3.0.0
google-ai-generativelanguage==0.6.15
google-api-core==2.25.1
google-api-python-client==2.177.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-cloud-core==2.4.3
google-cloud-translate==3.21.1
google-genai==1.28.0
google-generativeai==0.8.6
googleapis-common-protos==1.70.0
grpc-google-iam-v1==0.14.2
grpcio==1.74.0
grpcio-status==1.71.2
gTTS==2.5.4
gunicorn==23.0.0
h11==0.14.0
html5lib==1.1
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
huggingface-hub==0.28.1
idna==3.10
iniconfig==2.1.0
ipython==9.4.0
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.5
jiter==0.13.0
joblib==1.4.2
Js2Py==0.74
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
kiwisolver==1.4.8
langcodes==3.5.0
language_data==1.3.0
litprinter==0.3.3
lxml==6.0.1
lxml_html_clean==0.4.4
lz4==4.4.5
marisa-trie==1.2.1
Markdown==2.6.11
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
matplotlib-inline==0.1.7
mdurl==0.1.2
moderngl==5.12.0
MouseInfo==0.1.3
multidict==6.1.0
multimethod==1.12
murmurhash==1.0.13
narwhals==1.48.1
nest-asyncio==1.6.0
nlopt==2.9.1
nltk==3.9.1
numpy==2.2.2
occ==0.0.2.dev20190912195130
openai==2.26.0
opencv-python==4.11.0.86
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.3
parso==0.8.4
path==17.1.0
pathlib2==2.3.7.post1
pefile==2023.2.7
phonenumbers==9.0.16
pillow==11.1.0
pipwin==0.5.2
platformdirs==4.3.6
playsound==1.2.2
pluggy==1.6.0
preshed==3.0.10
prompt_toolkit==3.0.51
propcache==0.2.1
proto-plus==1.26.1
protobuf==5.29.5
psutil==7.0.0
psycopg2-binary==2.9.10
pure_eval==0.2.3
py-pipelines==1.0.3
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAudio==0.2.14
PyAutoGUI==0.9.54
pycaw==20251023
pycparser==2.22
pycryptodomex==3.23.0
pydantic==2.10.6
pydantic_core==2.27.2
pydeck==0.9.1
pydub==0.25.1
pygame==2.6.1
PyGetWindow==0.0.9
pyglet==2.1.6
Pygments==2.19.1
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2025.0
pyjokes==0.8.3
pyjsparser==2.7.1
PyMsgBox==1.0.9
PyOpenGL==3.1.9
PyOpenGL-accelerate==3.1.9
pyparsing==3.2.3
pypdf==6.7.0
pyperclip==1.9.0
pypiwin32==223
PyPrind==2.11.3
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
PyRect==0.2.0
PyScreeze==1.0.1
pyseq==0.9.0
PySide6==6.8.3
PySide6_Addons==6.8.3
PySide6_Essentials==6.8.3
pySmartDL==1.3.4
PySocks==1.7.1
pytest==8.4.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-pptx==1.0.2
pyttsx3==2.98
pytube==15.0.0
pytubefix==9.4.1
pytweening==1.2.0
pytz==2025.2
pywhatkit==5.4
pywin32==308
pywin32-ctypes==0.2.3
PyYAML==6.0.2
pyzbar==0.1.9
redis==6.1.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.0
requests-toolbelt==1.0.0
rich==14.0.0
rpds-py==0.26.0
rsa==4.9.1
RunSnakeRun==3.0.0
safetensors==0.5.2
scipy==1.17.1
selenium==4.43.0
setuptools==75.8.0
shadowcopy==0.0.4
shellingham==1.5.4
shiboken6==6.8.3
six==1.17.0
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
spacy==3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.14.2
spotipy==2.25.1
sqlparse==0.5.3
SquareMap==1.0.5
srsly==2.5.1
srt==3.5.3
stack-data==0.6.3
standard-aifc==3.13.0
standard-chunk==3.13.0
starlette==0.47.2
streamlit==1.47.1
tenacity==8.5.0
termcolor==3.3.0
thinc==8.3.6
tokenizers==0.21.0
toml==0.10.2
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.48.3
trio==0.33.0
trio-websocket==0.12.2
typer==0.16.0
typing==3.7.4.3
typing_extensions==4.15.0
typish==1.9.3
tzdata==2025.1
tzlocal==5.3.1
uritemplate==4.2.0
urllib3==2.6.3
uvicorn==0.35.0
virtualenv==20.29.2
vosk==0.3.45
wasabi==1.1.3
watchdog==6.0.0
wcwidth==0.2.13
weasel==0.4.1
webdriver-manager==4.0.2
webencodings==0.5.1
webscout==2026.4.8
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.45.1
whitenoise==6.9.0
wikipedia==1.4.0
WMI==1.5.1
wrapt==1.17.2
wsproto==1.3.2
wxPython==4.2.3
xlsxwriter==3.2.5
yarl==1.18.3
yaspin==3.4.0
yt-dlp==2025.12.8
